@model WikiPage
<div id="text" contenteditable="true">
  @Html.Raw(Model.Text)
</div>

<script type="text/javascript">
  $(function() {
      lightwiki.setup({
          cometUrl: '@Url.Content("~/comet.axd")',
          editor:   '#text',
          page:     '@Model.Slug',
          unique:   '@Guid.NewGuid()'
      });
  });
</script>