@model MainViewModel
@{ ViewBag.Title = Model.CurrentPage.Slug + " :: lightwiki"; }

<section id="left">
  @foreach (var slug in Model.PageSlugs) {
      var isCurrent = (slug == Model.CurrentPage.Slug);
    
      <a href="@Url.Action("Main", new { slug })" class="block-link@(isCurrent ? " current" : "")">
          @slug

          @if (isCurrent) {
            <text>(<span id="revision">0</span>)</text>
          }
      </a>
  }
</section>

<section id="main">
  @{Html.RenderPartial("_View", Model.CurrentPage);}
</section>