@model MainViewModel
@{ ViewBag.Title = Model.CurrentPage.Slug + " :: lightwiki"; }

<section id="left">
  @foreach (var page in Model.Pages) {
      var isCurrent = (page == Model.CurrentPage);
    
      <a href="@Url.Action("Main", new { slug = page.Slug })" class="block-link@(isCurrent ? " current" : "")">
          @page.Slug
          @if (isCurrent) {
            <text>(<span id="revision">@page.RevisionNumber</span>)</text>
          }
      </a>
  }
</section>

<section id="main">
  @{Html.RenderPartial("_Edit", Model.CurrentPage);}
</section>