@model MainViewModel
@{ ViewBag.Title = Model.Current.Page.Slug + " :: lightwiki"; }

<section id="left">
  @{Html.RenderPartial("_List", Tuple.Create(Model.Hierachy, Model.Current.Page));}
</section>

<section id="main">
  @{Html.RenderPartial("_Page", Model.Current);}
</section>