@model MainViewModel
@{ ViewBag.Title = Model.Current.Page.Slug + " :: lightwiki"; }

<section id="left">
  @foreach (var page in Model.Pages) {
      var isCurrent = (page == Model.Current.Page);
    
      <a href="@Url.Action("Main", new { slug = page.Slug })" class="block-link@(isCurrent ? " current" : "")">@page.Slug</a>
  }
</section>

<section id="main">
  @{Html.RenderPartial("_Page", Model.Current);}
</section>