.lightwriter {
    cursor: text;
}

.lightwriter-cursor {
    position: absolute;
    height: 25px;
    border-left: 1px solid black;
}

c {
    display: inline;
    white-space: pre-wrap;
}