.lightwriter {
    cursor: text;
}

.lightwriter-cursor {
    position: absolute;
    height: 25px;
    border-left: 1px solid black;
}

.lightwriter c {
    display: inline;
    white-space: pre-wrap;
}

.lightwriter c.selected {
    background-color: #EEEEEE;
}

.lightwriter.active c.selected {
    background-color: #D6E0F4;
}