html {
    font-size: 120%;
}

html, input, select, textarea {
    font-family: "Segoe UI",Verdana,Helvetica,sans-serif;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;

    overflow: hidden;    
}

input, select, textarea {
    font-size: inherit;
}

a {
    text-decoration: none;
}

#left, #main {
    margin: 16px;
    border: solid 1px #EEEEEE;
}

#left {
    position: absolute;
    padding-top: 12px;
    padding-bottom: 12px;

    top : 0;
    bottom: 0;

    width: 10em;

    overflow:	auto; /* Opera fix */
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;

    cursor: default;
}

#left ul, #left li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#left a {
    display: block;
    position: relative;

    padding: 0.2em;
    padding-left: 0.4em;
    white-space: nowrap;	

    overflow: hidden;	
    text-overflow: ellipsis;
    
    color: #26292D;
    text-decoration: none;
}

#left a.current {
    cursor: default;
    background: #FFE085 !important;
}

#left a:hover {
    background: #FFEEBD;
}

/*.connected #left a.current {
    background: #267f26;
    color: white;
    -webkit-transition: border-left 0.5s linear;
    -moz-transition: border-left 0.5s linear;
}

.connected.sending #left a.current {
    background: #43DE43;
    -webkit-transition: border-left 0.5s linear;
    -moz-transition: border-left 0.5s linear;
}*/

#left .page-links .page-links {
    margin-left: 0.8em;
    margin-right: 0.8em;
}

#main {	
    position: absolute;
 
    left:	12.6em;	
    right:	0;
    top:	0;
    bottom: 0;

    display: block;
    overflow: hidden;
}

#page, #view, #edit {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 0;
}

#view, #edit {
    padding: 12px;
}

#page.view #edit, #page.view #action-save,
#page.edit #view, #action-edit {
    display: none;
}

.connected #page.view #action-edit {
    display: block;
}

#action-save, #action-edit {
    position: absolute;
    top: -0.2em;
    right: 1.0em;
    padding: 0.2em;
    text-decoration: none !important;
    text-transform: lowercase;
    background-color: #a0a0a0;
    color: white;
}

#action-save:hover, #action-edit:hover {
    background-color: green;
}

#page a:hover {
    text-decoration: underline;
}

a.wiki.new {
    color: #a0a0a0;
}